@use 'vuetify/settings' with ($overlay-opacity: 1);

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  src: url(/src/assets/Montserrat-VariableFont_wght.ttf);
}

@font-face {
  font-family: "Montserrat";
  font-style: italic;
  src: url(/src/assets/Montserrat-Italic-VariableFont_wght.ttf);
}

:root {
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
}

h1 {
  font-weight: 500;
}

.gradient-background {
  background: linear-gradient(90deg, hsl(286, 47%, 88%), hsl(192, 51%, 88%));
}

.v-field--error {
  background-color: rgba($color: #ff0000, $alpha: 0.08);
}